[Program]
# The program  calculate by default normalized values, Choose 2 to compute reactivities in addition.
Task: 2

[Paths]
InputFile: Qu-shape-output
Iofile_Extenstion: txt
Outputreactivityfile: CE_reactivity_profiles

[Normalization]
# The Norm1 is considered by default
Method:Norm2 

[Sequence]
Start:1
End:259

[Conditions]
# Considered nucleotides for the normalization, if empty all nuclotides are selected by default.
Nucleotides: G,C
# Specify the nucleotides to be read out, if empty all nuclotides are selected by default.
Nucreadout: A,C
Lowervalue: -0.3 
Threshold: 0.3
Desactiv_threshold: 0.6
